
        <!-- header-->
         <div class="jumbotron" style="background-color:red">
            <div class="container">
            <div class="page-header">
        <h1 class="text-center">Literary Events </h1>            
  </div>
   </div>
</div>
        <!--Scrollable images-->
<div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="../images/3.jpg" alt="Chania" width="460" height="345">
      </div>

      <div class="item">
        <img src="../images/920x1240.jpg" alt="Chania" width="460" height="345">
      </div>
    
      <div class="item">
        <img src="../images/images.jpg" alt="Flower" width="460" height="345">
      </div>

      <div class="item">
        <img src="../images/mime1.jpg" alt="Flower" width="460" height="345">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

        <!-- image gallery-->
         <div class="container">
 <marquee> <h2 class = "text-center" >Literature is the one place in any society where, within the secrecy of our own heads, we can hear voices talking about everything in every possible way.</h2> </marquee>
  <div class="row">
    <div class="col-md-4">
      <a href="Jam Rules.pdf" class="thumbnail">
        <p>Talk and talk but just for a minute.</p>    
        <img src="../images/3.jpg" alt="JAM" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="23ee4505bfbc65e4a3d99d1d4c1c21792ec8d1731fba8ef31fe426bd9fa0347c_1439982014896_original.jpg" class="thumbnail">
        <p>Create a story, display a story.</p>
        <img src="../images/23ee4505bfbc65e4a3d99d1d4c1c21792ec8d1731fba8ef31fe426bd9fa0347c_1439982014896_original.jpg" alt="puppet show" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="920x1240.jpg" class="thumbnail">
        <p>Show yur loved ones some love with your texts.</p>      
        <img src="../images/920x1240.jpg" alt="love letters" style="width:150px;height:150px">
      </a>
    </div>
  </div>
                          
  <div class="row">
    <div class="col-md-4">
      <a href="968full-its-a-boy-girl-thing-screenshot.jpg" class="thumbnail">
        <p>Get a chance to convert your genders by speaking in it's a boy girl thing.</p>    
        <img src="../images/968full-its-a-boy-girl-thing-screenshot.jpg" alt="" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="91514_600.jpg" class="thumbnail">
        <p>Political GupShup</p>
        <img src="../images/91514_600.jpg" alt="politics" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="ad-mad-show.jpg" class="thumbnail">
        <p>Be the advrtiser in the AD-MAD show</p>      
        <img src="../images/ad-mad-show.jpg" alt="ad-mad" style="width:150px;height:150px">
      </a>
    </div>
  </div>
                    
  <div class="row">
    <div class="col-md-4">
      <a href="Civil-Litigation1.jpg" class="thumbnail">
        <p>Fight your cases in law suit.</p>    
        <img src="../images/Civil-Litigation1.jpg" alt="law suit" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="download (1).jpg" class="thumbnail">
        <p>Disscus the issues in discussion panel.</p>
        <img src=../images/"download (1).jpg" alt="anel discussion" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="download.jpg" class="thumbnail">
        <p>Be the actor in stage play.</p>      
        <img src="../images/download.jpg" alt="Stage play" style="width:150px;height:150px">
      </a>
    </div>
  </div>
            
  <div class="row">
    <div class="col-md-4">
      <a href="download.jpg" class="thumbnail">
        <p>Play the quiz round.</p>    
        <img src="../images/download.jpg" alt="Quiz up" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="hv.jpg" class="thumbnail">
        <p>Take the audience in a fun ride in THE COMEDY SHOW LIVE</p>
        <img src="../images/hv.jpg" alt="comedy show" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="images.jpg" class="thumbnail">
        <p>Be the novelist in STORY WRITER.</p>      
        <img src="../images/images.jpg" alt="story writer" style="width:150px;height:150px">
      </a>
    </div>
  </div>
     <div class="row">
    <div class="col-md-4">
      <a href="matt-hardy-suicide-note.jpg" class="thumbnail">
        <p>LEarn o say goodbye in the SUCIDE NOTES</p>    
        <img src="../images/matt-hardy-suicide-note.jpg" alt="sucide notes" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="mime1.jpg" class="thumbnail">
        <p>Be silent and tell the story in THE MIME</p>
        <img src="../images/mime1.jpg" alt="mime act" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="nn.jpg" class="thumbnail">
        <p>Play the people in STREET PLAY</p>      
        <img src="../images/nn.jpg" alt="nukkad natak" style="width:150px;height:150px">
      </a>
    </div>
  </div>
              <div class="row">
    <div class="col-md-4">
      <a href="rvk503e.jpg" class="thumbnail">
        <p>Ready for a theatre performance.</p>    
        <img src="../images/rvk503e.jpg" alt="natya" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="theme.jpg" class="thumbnail">
        <p>Organise a THEME PARTY.</p>
        <img src="../images/theme.jpg" alt="theme party" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="ex.jpg" class="thumbnail">
        <p>Talk on an unknown yet famous topic in EXTEMPORE.</p>      
        <img src="../images/ex.jpg" alt="extempore" style="width:150px;height:150px">
      </a>
    </div>
  </div>
        </div>                   
       