    <!-- jumbotron box-->
    <div class="jumbotron" style="background-color:orange">
  <h1 class="text-center"> Privacy Policy </h1>      
</div>

<center>
<!--bootstrap model-->
    <div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Privacy policy</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Privacy Policy</h4>
        </div>
        <div class="modal-body">
            
          The issue of online privacy is extremely crucial for Jaya Softwares, which is committed to safeguarding the information provided by its members and other visitors logging on to its Web site. 

Respecting the privacy of its online visitors, while providing quality services to customers has remained the core of Jaya Softwares’ overall strategy. Our Privacy Policy gives visitors a view of the Privacy Practices followed by Jaya Softwares and assures them of safe passage through the organisation’s web site. 

At the same time, Jaya Softwares would like to make it clear that its site provides links to other Web sites that are governed by their own respective Privacy Policies and Jaya Softwares does not take responsibility for the security provided by these sites. Visitors to the Jaya Softwares website are urged to familiarize themselves with its Privacy Policy as well the policies of the sites linked to their website. 

When you provide us with your personal data, you are agreeing to the rules and regulations stipulated under our Privacy Policy and are bound by it. If you do not agree to our Policy please do not use the Website. 

The Privacy Policy covers the following areas:


Type of information collected through the Web site
Choice/Opt out
Security
Type of information collected through the Web site

Personal Information 

Users registering at the Jaya Softwares site for specific services are requested to provide some personally identifiable information which become the property of Jaya Softwares and can be shared, disclosed or distributed to third parties only in accordance with the Privacy Policy. Please take note that registration is not required for visitors to the site who do not require any specific services. Jaya Softwares will not sell or rent such personally identifiable information collected. The personally identifiable information is supplied voluntarily for some of the following purposes:

Registration Data: If you are merely a visitor to our site, Jaya Softwares does not collect any personal information about you, except to the limited extent through the use of cookies, as described below. If you decide to use certain services offered on the site, you will be asked to register. During registration you will be requested to complete a registration form setting out basic online contact information about yourself. 

Other Optional Information: If you wish to subscribe to Jaya Softwares publications, newletters, etc., you will be required to fill up certain personal information related to your email address, name, country, age, choice of password, etc. However, for any of the other services such as registration for membership, etc. filling up the relevant form is mandatory.

Credit Card Information: If you purchase Jaya Softwares publications at the Site or register for an event, you will be required to submit your credit card details, including your name, account number and the expiration date. The information is used for billing purposes and to contact you if there are difficulties in processing your order. Jaya Softwares uses / will use a credit card processing company to bill users for goods and services which will not retain, share, store or use personally identifiable information for any secondary purposes.

E-mail Information: When we receive e-mails from you, we may retain the content of any e-mail messages sent to us, as well as details of your e-mail address.

Use of Web-Based Tracking Mechanisms such as Cookies: Cookies, which enable us to store small amounts of information contained in your Web site browser, may be used on some areas of our Website. Cookies, that help us track your navigation, enable us to tailor our offerings to your needs. The kind of information that may be stored on a cookie includes registration data so that a user does not need to re-enter the information every time he/she visits a particular area. The information contained on cookies is masked to ensure your privacy and is readable only by the servers of Jaya Softwares. Third party Websites which are accessible from our Site via links, click-throughs or banner advertising may use Cookies. However, it is important for us to inform you that we have no access or control over such Cookies and do not accept responsibility with regards to them.

Choice/Opt Out 

Jaya Softwares gives you the choice regarding the collection and usage of your personally identifiable information. During registration for “joining our mailing list,” we request for contact information in order to send bulletins and for advertising purposes. Again, it is not necessary for you to register in order to access and use our Site. You may therefore choose to opt out of providing such information. Further, once you are registered at the Jaya Softwares site, you will have the option at any stage to inform us that you no longer wish to receive future e-mails and you may “unsubscribe.”


Security 

Access to your personal account online is password protected. We will not release your account password to any person. In the event that you forget your password, you may generate an on-line request for your password to be sent to you by e-mail at the e-mail address used during registration. 

Jaya Softwares has implemented stringent, internationally acceptable standards of technology and operational security in order to protect personally identifiable information from loss, misuse, alteration or destruction. The access to the data on the server is restricted to authorized Jaya Softwares personnel. Jaya Softwares cannot be held responsible for any activity in your account which results from your failure to keep your own password secure. 

For questions regarding the privacy statement, practices of the site, or any other transaction issue, please contact jcs@jayasostwares.com

          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>
    <p></p><p></p><P></P>
</center>
    
