    <!-- jumbotron box-->
    <div class="jumbotron" style="background-color:orange">
  <h1 class="text-center"> Terms & Conditions </h1>      
</div>

<center>
<!--bootstrap model-->
    <div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Terms & Conditions</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Terms & Conditions</h4>
        </div>
        <div class="modal-body">
          <p><b>General Terms :</b>
<p></p>
Read all ours terms and conditons befoe siging in. These conditions are temporary they can change over time.<br>
            <p></p>
<b>Terms Of Service :</b>
            <p></p>
            1)This web site contains material including text, photographs and other images and sound, which is protected by copyright and/or<br> other intellectual property rights. All copyright and other intellectual property rights in this material are either owned by FeStClUb<br> or have been licensed to it by the owner(s) of those rights so that it can use this material as part of this web site.
            <p></p>
2)This web site also contains trademarks, including the mark "FeStClUb". All trade marks included on this web site belong to<br> FeStClUb or have been licensed to it by the owner(s) of those trademarks for use on this web site.
            </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
